main{
    display: flex;
    
}

.img{
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
}

.pict {

    position: relative;
    display: inline-block;
    background-color: black;
    border: 10px solid black;
    border-radius: 30px;
}
.pic{

    position: relative;
    margin-top: 20px;
    margin-left: -200px;
    display: inline-block;
    background-color: black;
    border: 10px solid black;
    border-radius: 30px;
}

.mid{
    margin-top: 20px;
    margin-left: 60px;
    width: 400px;
    
}
.form{
    position: relative;
    border: 1px solid #dbdbdb;
    height: 400px;
}

.form p{
    position: relative;
    text-align: center;
    font-size: 40px;
    letter-spacing: -8px;
    margin-top: -5px;

}

input[type = text] {
    position: relative;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 80%;
    margin-left: 10%;
    height: 40px;
}
input[type = password] {
    position: relative;
    margin-top: 10px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 80%;
    margin-left: 10%;
    height: 40px;
}

input[type = submit] {
    position: relative;
    margin-top: 10px;
    background-color: #4d96f6;
    border: 1px solid #4d96f6;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    height: 40px;
    color: white;
    font-family: arial;
    font-weight: bolder;

}

.or{
    text-align: center;
    font-size: 15px;
    font-family: arial;
    color: #bab9b9;
}

.log{
    display: flex;
}

.log img{
    position: relative;
    margin-left: 100px;
    margin-top: -5px;
    height: 25px;
    width: 25px;
}

.log a{
    text-decoration: none;
    color: #385185;
    font-family: arial;
    font-size: 13px;
    font-weight: bolder;
}

.forg{
    text-align: center;
    margin-top: 20px;
}

.forg a{
    text-decoration: none;
    font-weight: bolder;
    color: #385185;

}
.signup{
    position: relative;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #dbdbdb;
    }
.signup a{
    text-decoration: none;
    font-weight: bolder;
    color: #4d96f6;
}

.get {
    text-align: center;
}

.gi{
    margin-left: 20px;
    height: 45px;
}

.gp{
    margin-left: 5px;
    height: 45px;
}
