main{
position: relative;
display: flex;
}
.im{
    position: relative;
    margin-top: 20px;
    margin-left: 300px;
    background-color: black;
    display: inline-block;
    border: 10px solid black;
    border-radius: 30px;
}

.in{
    position: relative;
    margin-top:  -550px;
    margin-left: 380px;
    background-color: black;
    display: inline-block;
    border: 10px solid black;
    border-radius: 30px;
}

.mid {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    width: 400px;
   
}
.form{
    border: 1px solid #dbdbdb;
    margin-top: 30px;
    height: 400px
}

form p{
    position: relative;
    text-align: center;
    margin-top: 25px;
    font-size: 45px;
    letter-spacing: -8px;
}

input[type=text]{
    position: relative;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 80%;
    margin-left: 10%;
    height: 40px;
}

input[type=password]{
    position: relative;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    height: 40px;
}

input[type=submit]{
    position: relative;
    background-color:#4d96f6;
    border: 1px solid #4d96f6;
    color: white;
    font-family: arial;
    font-weight: bolder;
    border-radius: 10px;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    height: 40px;
}
.or{
    text-align: center;
    font-family: arial;
    font-size: 15px;
    color: #bab9b9;
}

.fb{
    position: relative;
    display: flex;
}

.fb img{
    position: relative;
    margin-left: 100px;
    height: 25px;
    width: 25px;
}

.fbp{
    position: relative;
    margin-top: -21px;
    margin-left: 140px;
}

.forg{
    position: relative;
    margin-top: 30px;
    margin-left: -130px;
}

.fb a{
    text-decoration: none;
    color: #385185;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.signup{
    position: relative;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #dbdbdb;
}

.signup p{
    font-family: 'Times New Roman', Times, serif;
    
}

.signup span a{
    text-decoration: none;
    font-weight: 3em;
    color:#4d96f6 ;
}

.footer p{
    text-align: center;
}

.gp{
    margin-left: 20%;
    height: 45px;
}

.gi{
    margin-left: 5px;
    height: 45px;
}